[user]
    email = tucker@yelp.com
    name = tucker
[alias]
    sha = rev-parse HEAD
    pretty = log --graph --pretty=oneline --abbrev-commit
    oh = origin HEAD
    m = master
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[diff]
    renames = true
[rebase]
    autostash = true
    stat = true
[include]
    path = .gitconfig.local
